<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


 <!-- Codemirror CSS/JS files -->
    <script src="{{ url_for('static' , filename='codemirror/lib/codemirror.js') }}"></script> <!-- Default Codemirror JS file -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='codemirror/lib/codemirror.css') }}">  <!--Default Codemirror CSS -->
    <script src="{{ url_for('static' , filename='codemirror/addon/edit/closebrackets.js') }}"></script> <!--Bracket Closing -->
    <script src="{{ url_for('static' , filename='codemirror/addon/edit/matchbrackets.js') }}"></script>  <!--Bracket Matching -->
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/'+Theme+'.css') }}"> <!-- Theme CSS -->
    <!--Codemirror Syntax higlighting JS files -->
    <script src="{{ url_for('static' , filename='codemirror/mode/clike/clike.js') }}"></script>
    <script src="{{ url_for('static' , filename='codemirror/mode/python/python.js') }}"></script>

<!--Bootstrap CSS/JS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Custom Stylesheet -->
    <link href="{{ url_for('static' , filename='style.css') }}" rel="stylesheet">
    
    <title>Online Judge</title>
    
</head>
<body>
    <div class = "container-fluid">
        <form id="codeEditor" action="/" method="post">
            <input type="hidden" name="Query" id="Query" value="submit"> <!--To check Submission Type -->

            <div class="row">
                <div class="container-fluid col-lg-6" id="leftSide">
                    <div class ="col-lg-2">
                        <select name="lang" id="lang"  onchange="LanguageChanged()">
                            <option value = {{ SelectedLanguage }} id="language_options" >{{ Languages[SelectedLanguage] }}</option>
                            {% for lang in Languages %}
                                {% if lang!=SelectedLanguage %}
                                    <option value= {{ lang }} id="language_options"  >{{ Languages[lang] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-8">
                        <label for="code" id="label_code">Write your code here:</label>
                    </div>
                    <div class="col-lg-12">
                        <div   id= "CODE">
                            <textarea id="code" name="code">{{ SourceCode }}</textarea>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <label for="input" id="input_label">Input:</label>
                    </div>

                    <div class="col-lg-12">
                        <textarea name="input" id="input">{{ CustomInput }}</textarea>
                    </div>

                    <div class="col-lg-2" id="submit_label">
                        <label for="submit">Submit:</label>
                    </div>
                    <div class="col-lg-2">
                        <input type ="submit" class="btn btn-success" value="Submit" id="submit_button" onclick="submit_button()">
                    </div>
                </div>

                <div class="container-fluid col-lg-6" id="rightSide">
                    <div class="row" >
                        <div class="col-lg-8">
                            <label for="output" id="output_label" style="margin-left:15px; margin-top: 5px;">Output:</label>
                        </div>
                        <button class="col-lg-2 btn btn-success" id="showHideOutput" onclick="showHideOutputfn()">
                            {% if DisplayOutput == 'block' %}
                                Hide Output
                            {% else %}   
                                Show Output
                            {% endif %}
                        </button>
                    </div>
                    <div class="col-lg-12">
                        <div name="output" id="output" style="display:{{ DisplayOutput }}">
                            {% if Output!="" %}
                                {% for i in Output %}
                                    <p>{{i}}</p>
                                {% endfor %}
                            {% else %}
                                No Output
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-12" id="problemStatementDiv">
                        <div id="problemStatement">
                            {% if problemQuestion['pValid']=='1' %}
                                <H1 id="pName">{{problemQuestion['pName']}}</H1>
                                <p id="pStats">Difficulty : <span id="pStatsData">{{problemQuestion['pDifficulty']}}</span> Accuracy : <span id="pStatsData">{{problemQuestion['pAccuracy']}}</span> Submissions : <span id="pStatsData">{{problemQuestion['pSubmissions']}}</span> </p>
                                
                                    {% for i in problemQuestion['pDesc'] %}
                                        <p id = "pStatsData">{{i[0]}}</p>
                                        {% for j in range( 1,i|length) %}
                                            <p id="pDesc">{{i[j]}}</p>
                                        {% endfor %}
                                    {%endfor%}
                            {% else %}
                                <H3>Failed to fetch problem </H3> 
                            {% endif %}
                        </div>
                    </div>
                    
                </div>   
            </div>
            


            
        </form>
    </div>
<!-- Codemirror Implementation -->
    <script>
             var editor = CodeMirror.fromTextArea(document.getElementById("code"),{
                mode: "{{ LangHLModes[SelectedLanguage] }}",
                 theme: "{{Theme}}",
                 lineNumbers: true,
                 autoCloseBrackets: true,
                 matchBrackets:true,
                 noHScroll:true
             });
    </script>
<!-- Custon JS functions-->
    <script type="text/javascript">
        function submit_button()
        { 
            document.getElementById('Query').value='submit'; // Change submission type to Submit
            document.getElementById('codeEditor').submit(); // Submit the form
        }

        function LanguageChanged() 
        {
            document.getElementById('Query').value='language_changed'; // Change Submission type to Lang Changed
            document.getElementById('codeEditor').submit();
        }

        function showHideOutputfn() 
        {
            {% if DisplayOutput=='block' %}
                document.getElementById('Query').value='hide_output'; // Change Submission type to Hide Output
            {% else %}
                document.getElementById('Query').value='show_output'; // Change Submission type to Show Output
            {% endif %}
            document.getElementById('codeEditor').submit();
        }
    </script>

    </body>
</html>
